body {
  background: linear-gradient(#e4d7b4, #e6e6e6, #e4d7b4);
  font-family: 'Montserrat', sans-serif;
}

#bars {
  display: none;
}

nav {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 100;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav div {
  align-self: center;
}

#logo {
  margin-top: 5px;
  margin-left: 5px;
}

.items {
  width: 90%;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 2% 5% 2% 5%;
}

nav a:hover {
  font-weight: bold;
  text-shadow: 0 0 5px #d7c48e;
  border-bottom: 2px solid #d7c48e;
}

#bars {
  color: white;
}

@media (max-width: 700px) {
   nav a {
    display: none;
  }

  #bars {
    display: block;
    margin-right:15px;
    margin-top: 15px;
  }
  nav div {
    align-self: flex-start;
  }
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/hor-6.jpg");
  position: relative;
  height: 50vh;
}

header div {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

header h1, header h2 {
  text-align: center;
  color: #d7c48e;
  margin: auto;
}

#lang {
  margin: 1%;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  right: 0;
  box-shadow: 0 0 5px black;
}

#lang a {
  text-decoration: none;
  color: black;
}

#lang a:visited {
  color: black;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 220%;
}

h2 {
  font-size: 200%;
}

.container {
  max-width: 800px;
  margin: auto;
}

h3 {
  font-size: 180%;
  text-align: center;
}

.main {
  /*height: 100vh;*/
  margin: auto;
  text-align: justify;
  padding-top: 5%;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }
  .main {
    text-align: left;
    padding: 2%;
  }
}

#photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  box-shadow: 0 0 15px gray;
  width: 14.5em;
  height: 15em;
  overflow: hidden;
  padding-bottom: 2em;
  margin: 1em;
}

.photo img {
  width: auto;
  height: 100%;
}

.photo:hover {
  box-shadow: 0 0 30px gray;
}

.desc {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 80%;
  max-width: 1200px;
  height: inherit;
  width: auto;
}

.slide {
  display: none;
}

.image-slide {
  width: 100%;
}

.modal-preview {
  width: 100%;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.video {
  box-shadow: 0 0 15px gray;
}

.link {
  text-decoration: none;
  color: black;
}

.link:visited {
  color: black;
}

.link:hover {
  color: #cc0044;
}

@media(max-width: 800px) {
  .video iframe {
    width: 100%;
  }
}

#media {
  padding-bottom: 15%;
}

footer {
  color: #d7c48e;
  background-color: black;
}

#contact-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sign-up {
  text-align: center;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  background-color: #f2ebd9;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.submit {
  background-color: #c3a655;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  color: black;
}

label {
  padding: 3px;
}

#contact-links, .social {
  color: #e6e6e6
}
#contact-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.social {
  color: #e6e6e6;
  margin: 0.4em;
  font-size: 3em;
  text-shadow: 0 0 15px gray;
}

.social:hover {
  text-shadow: 0 0 30px gray;
}

footer p {
  text-align: right;
  padding-right: 5%;
  font-size: 0.9em;
}
