body {
  background: linear-gradient(#d7c48e, #e6e6e6, #d7c48e);
  font-family: 'Montserrat', sans-serif;
}

nav {
  text-align: right;
  position: sticky;
  top: 3%;
  z-index: 2;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1%;
  border-radius: 5%;
  margin: auto;
}

nav a:hover {
  font-weight: bold;
  border: 1px solid white;
  box-shadow: 0 0 5px white;
}

#lang {
  margin-top: 3em;
  float: right;
  background-color: white;
  padding: 10px;
  border: black;
  border-radius: 20%;
  box-shadow: 0 0 5px black;
  position: relative;
  z-index: 200;
}

.eng {
  display: none;
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/hor-1.jpg");
  padding: 3%;
  position: relative;
  margin-top: -6%;
  margin-left: -2%;
  margin-right: -2%;
  height: 100vh;
}

h1 {
  font-size: 5vw;
  width: 38vw;
  margin-top: 30vh;
}

h2 {
  font-size: 4vw;
  width: 16vw;
}

h1, h2 {
  background-color: white;
  padding-left: 2%;
  opacity: 70%;
  border-radius: 3%;
  box-shadow: 0 0 15px white;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h1 span {
  font-family: 'Nothing You Could Do', cursive;
  color: #cc0044;
}

.back {
  text-decoration: none;
  color: black;
  background-color: #e6e6e6;
  border: 1px solid gray;
  box-shadow: 0 0 15px gray;
  border-radius: 10%;
  padding: 1px;
  float: right;
  font-size: 2em;
}

.back:visited {
  color: black;
}

@media (max-width: 800px) {
  h1 {
    font-size: 7vw;
    width: 53vw;
  }

  h2 {
    font-size: 5vw;
    width: 20vw;
  }
}

h3 {
  font-size: 5vh;
}

.container {
  max-width: 800px;
  margin: auto;
}

.main {
  /*height: 100vh;*/
  margin: auto;
  text-align: justify;
  padding-top: 10%;
}

@media (max-width: 600px) {
  nav {
    text-align: center;
  }
  .main {
    text-align: left;
    padding: 2%;
  }
}

h3 {
  text-align: center;
}

#photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  box-shadow: 0 0 15px gray;
  width: 14.5em;
  height: 15em;
  overflow: hidden;
  padding-bottom: 2em;
  margin: 1em;
}

.photo img {
  width: auto;
  /*object-fit: cover;*/
  height: 100%;
}

.photo:hover {
  box-shadow: 0 0 30px gray;
}

.desc {
  text-align: center;
}

.video {
  box-shadow: 0 0 15px gray;
}

.link {
  text-decoration: none;
  color: black;
}

.link:visited {
  color: black;
}

.link:hover {
  color: #cc0044;
}

@media(max-width: 800px) {
  .video iframe {
    width: 100%;
  }
}

#media {
  padding-bottom: 10%;
}

footer {
  color: #d7c48e;
  background-color: black;
}

#contact-links, .social {
  color: #e6e6e6
}
#contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social {
  color: #e6e6e6;
  margin: 0.5em;
  font-size: 1em;
  text-shadow: 0 0 15px gray;
}

.social:hover {
  text-shadow: 0 0 30px gray;
}

footer p {
  text-align: right;
  padding-right: 5%;
  font-size: 0.9em;
}

footer {
  margin-left: -2%;
  margin-right: -2%;
  margin-bottom: -2%
}
